# VSCode folder
.vscode/

# Build directories
bin/
build*/

# Cache directories
.cache/

# Make files
*[M|m]ake*

# Ninja files
*ninja*

# cmake files and folders to be included
!CMakeLists.txt
!cmake/
!cmake/*
